# Нужно довавить в bashrc строку export ROSCONSOLE_CONFIG_FILE=/home/pi/RoboBIM-Linux/roscosole.config

# Уровень логирования: DEBUG, INFO, WARN, ERROR, FATAL
# log4j.logger.ros=INFO

log4j.logger.ros=INFO, FILE

# Путь к файлу логов
log4j.appender.FILE=org.apache.log4j.FileAppender
log4j.appender.FILE.File=/home/pi/RoboBIM-Linux/src/pb/log/logfile.log
log4j.appender.FILE.layout=org.apache.log4j.PatternLayout
log4j.appender.FILE.layout.ConversionPattern=%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %c %X{node} %m%n

# Ограничение размера файла логов (опционально)
log4j.appender.file.MaxFileSize=10MB
log4j.appender.file.MaxBackupIndex=10

# Логирование на консоль
#log4j.appender.console=org.apache.log4j.ConsoleAppender
#log4j.appender.console.Target=System.out
#log4j.appender.console.layout=org.apache.log4j.PatternLayout
#log4j.appender.console.layout.ConversionPattern=%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5p %c %X{node} - %m%n

# Установка уровня логирования для конкретного пакета
# log4j.logger.pb=DEBUG

# Дополнительные настройки для других уровней логирования
# log4j.logger.rosout=INFO

