# Нужно довавить в bashrc строку export ROSCONSOLE_CONFIG_FILE=/home/pi/RoboBIM-Linux/roscosole.config

# Уровень логирования: DEBUG, INFO, WARN, ERROR, FATAL
# Глобальный уровень логирования (должен быть самым низким из используемых)

# Отключаем стандартный консольный аппендер ROS, оставляем только мой кастомный
# log4j.logger.ros=OFF
log4j.logger.ros=INFO, FILE

# Кастомный вывод
# log4j.rootLogger=INFO, console, file
# log4j.rootLogger=INFO, file

# Логирование в консоль (stdout)
log4j.appender.console=org.apache.log4j.ConsoleAppender
log4j.appender.console.Target=System.out
log4j.appender.console.layout=org.apache.log4j.PatternLayout
log4j.appender.console.layout.ConversionPattern=%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %c %X{node} %m%n
log4j.appender.console.Threshold=INFO  # Показывать в консоли только INFO и выше

# Путь к файлу логов
log4j.appender.FILE=org.apache.log4j.FileAppender
log4j.appender.FILE.File=/home/pi/RoboBIM-Linux/src/pb/log/logfile.log
log4j.appender.FILE.layout=org.apache.log4j.PatternLayout
log4j.appender.FILE.layout.ConversionPattern=%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %c %X{node} %m%n
log4j.appender.FILE.Threshold=INFO  # Записывать в файл ВСЕ, включая INFO

# Ограничение размера файла логов (опционально)
log4j.appender.FILE.MaxFileSize=10MB
log4j.appender.FILE.MaxBackupIndex=3


# Уровень логирования для файла: WARN и выше
# log4j.logger.fileLogger=INFO
# Установка уровня логирования для конкретного пакета
# log4j.logger.pb=INFO

# Дополнительные настройки для других уровней логирования
# log4j.logger.rosout=INFO

