# Нужно довавить в bashrc строку export ROSCONSOLE_CONFIG_FILE=/home/pi/RoboBIM-Linux/roscosole.config

# Уровень логирования: DEBUG, INFO, WARN, ERROR, FATAL

# Или установите уровень логирования корневого логгера на WARN и выше, но отключите вывод в консоль
log4j.rootLogger=OFF
log4j.logger.ros=INFO, ros_file

# Аппендер для консоли
log4j.appender.console=org.apache.log4j.ConsoleAppender
log4j.appender.console.Target=System.out 
log4j.appender.console.layout=org.apache.log4j.PatternLayout
log4j.appender.console.layout.ConversionPattern=[%p] %m%n
log4j.appender.console.Threshold=WARN

# Путь к файлу логов
log4j.appender.ros_file=org.apache.log4j.FileAppender
log4j.appender.ros_file.File=/home/pi/RoboBIM-Linux/src/pb/log/logfile.log
log4j.appender.ros_file.layout=org.apache.log4j.PatternLayout
log4j.appender.ros_file.layout.ConversionPattern=%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %c %X{node} %m%n
log4j.appender.ros_file.Threshold=INFO  # Записывать в файл ВСЕ, включая INFO

# Отключение наследования для основного логгера
log4j.additivity.ros=false

