<launch>

  <node pkg="pb" type="pillar_node" name="pillar_node" output ="screen">

    <param name="x0" type="double" value="3.2" />
    <param name="y0" type="double" value="2.8" />

    <param name="x1" type="double" value="3.5" />
    <param name="y1" type="double" value="0.2" />

    <param name="x2" type="double" value="0.4" />
    <param name="y2" type="double" value="0.2" />

    <param name="x3" type="double" value="0.4" />
    <param name="y3" type="double" value="2.8" />

  </node>
</launch> 