# Уровень 1: Главный узел навигации, в котором содержатся все подсистемы
# Глобальная настройка для всех узлов
pb_config:
  # Уровень 2: Общие настройки
  pillars:
    # Уровень 3: Параметры
    pillar_0_x: 4.0          # Координата X начала координат карты...
    pillar_0_y: 0.3          # Координата X начала координат карты...
    
    pillar_1_x: 0.0          # Координата X начала координат карты...
    pillar_1_y: 0.5          # Координата X начала координат карты...
    
    pillar_2_x: 0.5          # Координата X начала координат карты...
    pillar_2_y: 4.0          # Координата X начала координат карты...
    
    pillar_3_x: 5.0          # Координата X начала координат карты...
    pillar_3_y: 4.0          # Координата X начала координат карты...
    
  start_pose:
    x: 1.0          # Координата X 
    y: 2.0          # Координата Y 
    th: 0.0         # Угол куда смотрим

  lidar:
    bias: -1.44       # Смещение угла относительно направления движения основы в градусах!!!

  modul:
    mode: 5           # Номер алгоритма выполнения при запуске

  uzi_bias: 1.2       # Смещение Ультразвукового датчика
  laser_L_bias: 1.3       # Смещение левого лазерного датчика
  laser_R_bias: 1.4       # Смещение правого лазерного датчика

  laser:
    bias_0: 0.011   # Смещения лазеров.Установить в процессе калибровки
    bias_1: 0.022
    bias_2: 0.033
    bias_3: 0.044

  #   # Уровень 3: Параметры загрузки файла
  # file_settings:
  #   map_file_path: "/home/user/ros_ws/maps/building_A.yaml" # Полный путь к файлу карты...
  #   load_on_start: true                                     # Флаг: загружать ли карту при старте...

  # # Уровень 2: Настройки глобального планировщика (Global Planner)
  # global_planner:
  #   algorithm: "Astar"     # Используемый алгоритм поиска пути (например, Astar)...
  #   max_iterations: 10000  # Максимальное количество итераций планировщика...
    
  # # Уровень 2: Настройки локального планировщика (Local Planner)
  # local_planner:
  #   # Уровень 3: Ограничения скорости
  #   speed_limits:
  #     max_linear_vel: 0.6    # Максимальная линейная скорость робота (м/с)...
  #     max_angular_vel: 1.5   # Максимальная угловая скорость робота (рад/с)...
      
  #   # Уровень 3: Параметры безопасности
  #   safety_margins:
  #     robot_radius: 0.3      # Радиус робота для избегания столкновений (м)...
  #     emergency_stop_dist: 0.1 # Дистанция для экстренной остановки (м)...