# Уровень 1: Главный узел навигации, в котором содержатся все подсистемы
# Глобальная настройка для всех узлов
pb_config:
  # Уровень 2: Общие настройки
  control_mode: 1       # Режим работы управления. Если 0 то по колесам одометрии, 1 управление по скомплеменированному с измерением main
  pillars:
    # Уровень 3: Параметры
    pillar_0_x: 4.0          # Координата X начала координат карты...
    pillar_0_y: 0.3          # Координата X начала координат карты...
    
    pillar_1_x: 0.0          # Координата X начала координат карты...
    pillar_1_y: 0.5          # Координата X начала координат карты...
    
    pillar_2_x: 0.5          # Координата X начала координат карты...
    pillar_2_y: 4.0          # Координата X начала координат карты...
    
    pillar_3_x: 5.0          # Координата X начала координат карты...
    pillar_3_y: 4.0          # Координата X начала координат карты...
    
  start_pose:
    x: 2.0          # Координата X 
    y: 2.0          # Координата Y 
    th: 0.0         # Угол куда смотрим

  lidar:
    bias: -1.44       # Смещение угла относительно направления движения основы в градусах!!!
  
  modul:
    mode: 5           # Номер алгоритма выполнения при запуске

  uzi_bias: 1.2       # Смещение Ультразвукового датчика
  laser_L_bias: 1.3       # Смещение левого лазерного датчика
  laser_R_bias: 1.4       # Смещение правого лазерного датчика

  laser:
    bias_0: 0.011   # Смещения лазеров.Установить в процессе калибровки
    bias_1: 0.022
    bias_2: 0.033
    bias_3: 0.044

# --- Все данные для ноды SCAN ---
  scan_node:
# --- Геометрия Столбов ---
    pillar_diametr: 0.315   # Диаметр столба (315 мм)
    
        # Индекс,Обозначение,Положение в Глобальной Системе
        # 0,RB (Right Bottom / Правый Нижний),"Начало отсчета (0, 0)"
        #1,RT (Right Top / Правый Верхний),"На оси X (d01​,0)"
        #2,LT (Left Top / Левый Верхний),Верхний/Дальний угол
        #3,LB (Left Bottom / Левый Нижний),Нижний/Ближний угол

    # Расстояния между поверхностями столбов (точно измерено рулеткой)
    # 0=RB (Правый Нижний), 1=RT (Правый Верхний), 2=LT, 3=LB # YAML-Параметр,Сопоставление Столбов (Индексы),Описание Измерения,Тип
    pillar_0_1: 10.500      # Расстояние RB-RT # pillar_0_1,P0 (RB) → P1 (RT),Правая сторона (вертикальное расстояние),Сторона
    pillar_0_2: 12.000      # Расстояние RB-LT # pillar_0_2,P0 (RB) → P2 (LT),Диагональ (от нижнего правого к верхнему левому),Диагональ
    pillar_0_3: 4.800       # Расстояние RB-LB # pillar_0_3,P0 (RB) → P3 (LB),Нижняя сторона (горизонтальное расстояние),Сторона
    pillar_1_2: 5.500       # Расстояние RT-LT # pillar_1_2,P1 (RT) → P2 (LT),Верхняя сторона,Сторона
    pillar_1_3: 11.500      # Расстояние RT-LB # pillar_1_3,P1 (RT) → P3 (LB),Диагональ (от верхнего правого к нижнему левому),Диагональ
    pillar_2_3: 4.800       # Расстояние LT-LB # pillar_2_3,P2 (LT) → P3 (LB),Левая сторона,Сторона

  filter:
    # --- Параметры Фильтрации Облака Точек (Этап 1.1) ---
    min_range_filter: 0.2     # Минимальная дальность (в метрах), ближе которой точки игнорируются
    max_range_filter: 15.0  # Макс. дальность (в метрах), свыше которой точки игнорируются
    neighbor_radius_filter: 0.3  # Радиус (в метрах) для поиска соседей при SOR-фильтрации (30 см)
    min_neighbors_filter: 3      # Мин. число соседей для сохранения точки (меньше - удаляется)

  detection:
    # --- Параметры Детекторов (Этап 2) ---
    jump_dist_threshold: 0.5    # Порог разрыва (в метрах) для Метод 1 (0.5 м)
    cluster_dist_threshold: 0.05 # Порог расстояния (в метрах) для Евклидовой Кластеризации (5 см)
    # NOTE: Для Method 3 (Minima) пороги обычно зависят от угла и дальности, но начнем без них.

  fusion:
    # --- Параметры Взвешивания и Слияния (Этап 3) ---
    rmse_max_tolerance: 0.01    # Макс. RMSE (в метрах) для нормализации веса (10 мм)
    n_max_points_norm: 100      # Макс. число точек для нормализации веса N_max (для W_N)
    fusion_group_radius: 0.2    # Радиус (в метрах) для объединения кандидатов из разных методов (20 см)

  weights:
    # --- Ручные Коэффициенты Доверия Методам (W_method) ---
    w_method_1_jump: 1.0        # Вес для Метод 1 (Разрыв) - Самый высокий
    w_method_2_cluster: 0.9     # Вес для Метод 2 (Кластер)
    w_method_3_minima: 0.8      # Вес для Метод 3 (Минимум)























  #   # Уровень 3: Параметры загрузки файла
  # file_settings:
  #   map_file_path: "/home/user/ros_ws/maps/building_A.yaml" # Полный путь к файлу карты...
  #   load_on_start: true                                     # Флаг: загружать ли карту при старте...

  # # Уровень 2: Настройки глобального планировщика (Global Planner)
  # global_planner:
  #   algorithm: "Astar"     # Используемый алгоритм поиска пути (например, Astar)...
  #   max_iterations: 10000  # Максимальное количество итераций планировщика...
    
  # # Уровень 2: Настройки локального планировщика (Local Planner)
  # local_planner:
  #   # Уровень 3: Ограничения скорости
  #   speed_limits:
  #     max_linear_vel: 0.6    # Максимальная линейная скорость робота (м/с)...
  #     max_angular_vel: 1.5   # Максимальная угловая скорость робота (рад/с)...
      
  #   # Уровень 3: Параметры безопасности
  #   safety_margins:
  #     robot_radius: 0.3      # Радиус робота для избегания столкновений (м)...
  #     emergency_stop_dist: 0.1 # Дистанция для экстренной остановки (м)...